[Unit]
Description=AIPokedex (Python)

[Service]
WorkingDirectory=/root/aipokedex/
LimitNOFILE=1000000
ExecStart=/usr/bin/python3 /root/aipokedex/static/kerasmodel.py
Restart=always
RestartSec=1

 # Output to syslog
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=ai-dex
#User=<alternate user>
#Group=<alternate group>

[Install]
# Components of this application should be started at boot time
WantedBy=multi-user.target