.main-navbar {
	background-color: #610606 !important;
}

.main-jumbo {
	background-color: #2c2f33 !important;
}

.url-input {
	background-color: #2c2f33 !important;
}

.input-box {
	background-color: #434446 !important;
	border: 1px solid #4c4f53 !important;
}

footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
}

.input-width {
	width: -webkit-fill-available !important;
}

input {
	color:white !important;
}

body {
	background-color: #2c2f33 !important;
	color: #ffffff !important;
	height: 1080px;
    position: relative;
}

.loader {
	margin-top: 40px;
	border-radius: 50%;
	flex: 0 0 0% !important;
	width: 80px !important;
	height: 80px !important;
	-webkit-animation: spin 1.5s infinite;
	/* Safari */
	animation: spin 1.5s infinite;
}

.card {
	margin-top: 40px;
}

.center-all {
	display: block;
	justify-content: center;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
}

@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}